
html {
    color: aquamarine;
    font-size: large;
    line-height: normal;
}

/* Primary header for Home Page */
.header {
    padding: 20px;
    text-align: center;
    background: crimson;
    color: aliceblue;
}

/* Primary header for the WIP Page */
.headerWIP {
    padding: 20px;
    text-align: center;
    background: black;
    color: mediumseagreen;
}

/* Header for Work In Progress Page - h2 */
.header h2 {
    text-align: center;
    background: white;
    color: black;
}

/* Center alignment of pictures */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Center alignment for pictures with a pad of 20 px */
.padding {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}