
html {
    color: aquamarine;
    font-size: large;
    line-height: normal;
}

/* Primary header for Home Page */
.header {
    padding: 20px;
    text-align: center;
    background: #3C0523;
    color: aliceblue;
    font-size: large;
}

/* Primary header for the WIP Page */
.headerWIP {
    padding: 20px;
    text-align: center;
    background: #05233C;
    color: mediumseagreen;
    font-size: large;
}

.WIPText {
    padding: 20px;
    text-align: center;
    background: darkslategray;
    color: mediumseagreen;
}

/* Center alignment of pictures */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Center alignment for pictures with a pad of 20 px */
.padding {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Basic navigation bar setup */
.navbar {
    overflow: hidden;
    background-color: dimgray;
}

/* Options stylization */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

/* The current page styling to show difference */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}